<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>VETERINARIAS</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>
      <ion-card-header id="cabecera">
          <ion-card-title>Veterinario Hitamaya</ion-card-title>
      </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-img src="assets/vete5.png" id="imagen"></ion-img>
          </ion-col>
          <ion-col size="7">
            <ion-label id="letra">Veterinaria Hitamaya se caracteriza por el cuidado y la mejor atencion a tus mascotas.</ion-label><br>
            <ion-label id="letra">Calle 8 con esquina en av. 1 Xalapa, Ver.</ion-label><br>
            <ion-button id="letra1" routerLink="/mapav">Click para ver mapa.</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 
      </ion-card-content>   
    </ion-card>

    <ion-card>
        <ion-card-header id="cabecera">
            <ion-card-title>Veterinario Caninos</ion-card-title>
        </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <ion-img src="assets/vete4.png" id="imagen"></ion-img>
            </ion-col>
            <ion-col size="7">
              <ion-label id="letra">Expertos trabajando desde 2015 con grandes resultados.</ion-label><br>
              <ion-label id="letra">Calle 5 con esquina en av. 7 Orizaba, Ver.</ion-label><br>
              <ion-button id="letra1" routerLink="/mapav">Click para ver mapa.</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid> 
        </ion-card-content>   
      </ion-card>

      <ion-card>
          <ion-card-header id="cabecera">
              <ion-card-title>Veterinario Cuidando huellitas</ion-card-title>
          </ion-card-header>
  
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="5">
                <ion-img src="assets/vete3.png" id="imagen"></ion-img>
              </ion-col>
              <ion-col size="7">
                <ion-label id="letra">Expertos en el trato de animales de compañia.</ion-label><br>
                <ion-label id="letra">Calle 5 con esquina en av. 7 Orizaba, Ver.</ion-label><br>
                <ion-button id="letra1" routerLink="/mapav">Click para ver mapa.</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid> 
          </ion-card-content>   
        </ion-card>
</ion-content>